{:company/legal-name "The Boeing Company"
 :company/lei "RVHJWBXLJ1RFUBSY1F30"
 :company/jurisdiction "US"
 :company/website "https://www.boeing.com"
 :company/ticker "BA (NYSE)"
 :company/inquiry-form-url "https://www.boeing.com/contact-us"}
